@charset "utf-8";
@import url(style.css);

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.grid-ul {
    padding: 5px;
    font-size: 20px;
}
.grid-ul > ul{
    list-style-type: none;
    text-align: center;   
}