@charset "utf-8";
@import url(style.css);

.grid-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.grid-item {
    padding: 5px;
    font-size: 20px;
}
.item > ul{
    list-style-type: none;
    text-align: center;
}
.footersecundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}