@charset "utf-8";
@import url(header.css);
@import url(main.css);
@import url(footer.css);

body{
    margin: 0%;
    padding: 0%;
    background-color: azure;
}

header{
    margin: 0% 5%;
    padding: 2% 4%;
    border-bottom: 1px solid black;
}

main {
    margin: 0% 5%;
    padding: 1% 2%;
    border-bottom: 1px solid black;
    overflow-x: hidden;
}

footer {
    margin: 0% 5%;
    padding: 1% 2%;
    }